beh.pkl
beh345.pkl
h_spike.pkl
loc_vecs.pkl
loc_vecs_inv.pkl
loss_save.pkl
maze2_recon.pkl
succ_fail_dec.pkl
w_single.pkl
figures
footprint
mouse1
mouse2
mouse3
mouse4
mouse5
mouse6
t3000/*
!t3000/gen_n300_k3_l50_t3000_seed20.csv
t30000