beh.pkl
beh345.pkl
h_spike.pkl
h5.pkl
h5_single.pkl
h5_spike.pkl
loc_vecs.pkl
loc_vecs_inv.pkl
loss_save.pkl
maze2_recon.pkl
succ_fail_dec.pkl
valid_save.pkl
w_single.pkl
w5.pkl
w5_single.pkl
figures
footprint
mouse1
mouse2
mouse3
mouse4
mouse5
mouse6
t3000/*
t30000
U53.txt
U54.txt
gpfa.ipynb
sequence_dynamics_fig6_no_alignment.ipynb
U54.ipynb

save_benchmark.mat
save_benchmark.pkl
save_benchmark0.mat
save_benchmark4.mat

seqNMF/save_benchmark
seqNMF/save_benchmark.m
seqNMF/benchmark1_pre.m
seqNMF/benchmark1_post.m
seqNMF/benchmark2_pre.m
seqNMF/benchmark2_post.m
seqNMF/benchmark3_pre.m
seqNMF/benchmark3_post.m
seqNMF/benchmark4_pre.m
seqNMF/benchmark4_post.m
seqNMF/benchmark5_pre.m
seqNMF/benchmark5_post.m